:root {
    background-color: rgb(74, 115, 176);
}

body {
    font-family: 'Fira Sans', sans-serif;
    display: flex;
    position: relative;
    background-color: rgb(187, 203, 205);
    text-align: center;
    width: 600px;
    margin: 300px;
    margin-left: 450px;
}    

input, select {
    width: 580px;
    height: 30px;
    border-radius: 5px;
}


button {
    padding: 4px;
    color: white;
    background-color: rgb(195, 162, 31);
    border-radius: 5px;
    width: 580px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
    font-weight: 700;
}
